<script src="{{ "/assets/js/all.js" | prepend: site.baseurl }}"></script>
{% if page.layout != 'fast' %}
<script type="text/javascript">
    $(window).bind("load", function(){
        var footer = $("footer");
        var pos = footer.position();
        var height = $(window).height();
        height = height - pos.top;
        height = height - footer.height();
        if (height > 0) {
            footer.css({
                'margin-top': height + 'px'
            });
        }
    });
</script>
{% endif %}
</body>
</html>