{% if page.layout != 'fast' %}
<footer class="callout large clearfix">
    <div class="row">
        <div class="small-12 medium-6 columns">
            {% include components/nav-footer.html %}
        </div>
        <div class="small-12  medium-6 columns contact-info">
                <span>شماره تماس در وقت اداری: ۰۹۱۲۰۵۳۹۱۳۷ و ۰۱۱۳۲۲۹۱۱۹۱</span>
                <span>کانال تلگرام: <a href="https://t.me/fibernet" title="شناسه تلگرام" >@fibernet</a></span>
        </div>
    </div>
</footer>
{% endif %}
{% include foot.html %}