<div ng-init="checkStatus()" class="card small-12 medium-5 medium-centered columns">
    <div class="card-section">
        <h2>ورود به پنل شارژ اینترنت</h2>
        <p>برای تمدید یا تغییر سرویس و نیز خرید حجم، شماره تلفن دارای سرویس ADSL و شماره موبایل خود را وارد کنید.</p> 
        <form name="loginForm">
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        <input ng-model="phone" type="text" required minlength="10" maxlength="10" ng-pattern="/^(17|11|83)?\d{8}$/" placeholder="شماره تلفن">
                    </label>
                </div>
                <div class="small-12 columns">
                    <label>
                        <input ng-model="mobile" type="text" required minlength="11" maxlength="11" ng-pattern="/^09(1|2|3|9)\d{8}$/" placeholder="شماره موبایل">
                    </label>
                </div>
                <div class="small-12 columns" ng-show="showError" >
                    <div class="callout alert">
                        <h5>متاسفانه مشکلی وجود دارد.</h5>
                        <p ng-bind="result.message"></p>
                    </div>
                </div>
                <div class="small-12 columns text-center">
                    <button ng-click="fetchAllAvailableProducts(phone, mobile)" type="button" class="success button" ng-disabled="loginForm.$invalid || disBtn" >تائید</button>
                </div>
            </div>
        </form>                  
    </div>
</div>