<div ng-init="checkStatus()" class="medium-12 columns">
    <div class="row">
        <div class="small-10 columns">
            <h2>خرید حجم</h2>
            <h3 class="subheader">حجم (ترافیک) مورد نظر را انتخاب کنید.</h3>
        </div>
        <div class="small-2 columns text-left">
            <a class="back" ng-click="initStatus()" ><small class="show-for-medium">بازگشت </small>←</a>
        </div>
    </div>
    
    <div ng-if="result.current.remainingDaysAlertLimit >= result.current.remainingDays" data-closable class="row callout alert-callout-border alert">
        <strong>توجه</strong> - سرویس فعلی شما تنها <span ng-init="result.current.remainingDays"></span> روز اعتبار دارد.
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row small-up-1 medium-up-3 products-container">
        <div class="column services-callouts" ng-repeat="product in result.quotas | orderBy:'price'">
            <div class="container-hover" ng-click="createOrder(product.id)" >
                <div class="container">
                    <h3 ng-bind="product.title"></h3>
                    <p><small ng-bind="product.description"></small></p>
                </div>
                <p class="link"><strong ng-bind="product.price | currency : '' : 0" ></strong> ریال</p>
                <strong class="selBtn">انتخاب</strong>
            </div>
        </div>
    </div>
</div>
<div class="reveal" id="recipe" data-reveal>
    <div ng-show="disBtn" class="text-center">
        <div class="loader"></div>
        <p>لطفا شکیبا باشید...</p>
    </div>
    <div class="reveal-content" ng-hide="disBtn">
        <h2>صورت‌حساب شماره {{ order.id }}</h2>
        <p>{{order.description}}</p>
        <ul class="vertical menu">
            <li>قیمت محصول: <strong ng-bind="order.total_amount | currency : '' : 0"></strong> ریال</li>
            <li>مالیات: <strong ng-bind="order.tax | currency : '' : 0"></strong> ریال</li>
            <li>کارمزد: <strong ng-bind="order.processing_fee | currency : '' : 0"></strong> ریال</li>
        </ul>
        <p>مبلغ قابل پرداخت: <strong ng-bind="order.payable_amount | currency : '' : 0"></strong> ریال</p>
        <p><small>موافقت‌نامه <a href="/terms">استفاده از خدمات</a> و <a href="/terms">قوانین</a> را خوانده و پذیرفته‌ام.</small></p>
        <div class="text-center">
            <a href="{{order.checkout}}" class="alert button" ng-disabled="disBtn" >پرداخت با کارت شتاب</a>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>