<div ng-init="checkStatus()" class="medium-12 columns">
    <div class="row">
        <div class="small-10 columns">
            <h2>تمدید یا تغییر سرویس</h2>
            <h3 class="subheader">مدت و سرعت سرویس مورد نظر را انتخاب کنید.</h3>
        </div>
        <div class="small-2 columns text-left">
            <a class="back" ng-click="initStatus()" ><small class="show-for-medium">بازگشت </small>←</a>
        </div>
    </div>
    <div class="row filter-container">
            <div class="small-12 medium-3 columns">
                <label>
                    <select ng-model="selectPeriod" >
                        <option ng-repeat="product in result.services | unique: 'period'" ng-value="product.period">{{ product.period }} ماهه</option>
                    </select>
                </label>
            </div>
            <div class="small-12 medium-3 end columns">
                <label>
                    <select ng-model="selectRate">
                        <option ng-repeat="product in result.services | unique: 'rate'" ng-value="product.rate">{{ product.rate | humanRate }}</option>
                    </select>
                </label>
            </div>
    </div>
    <div class="row small-up-1 medium-up-3 products-container">
        <div class="column services-callouts" ng-repeat="product in result.services  | orderBy:'price' | filter: {period: selectPeriod, rate: selectRate}:true">
            <div class="container-hover" ng-click="createOrder(product.id)" >
                <div class="container">
                    <h3 ng-bind="product.title"></h3>
                    <p><small ng-bind="product.description"></small></p>
                </div>
                <p class="link"><strong ng-bind="product.price | currency : '' : 0" ></strong> ریال</p>
                <strong class="selBtn">انتخاب</strong>
            </div>
        </div>
    </div>
</div>
<div class="reveal" id="recipe" data-reveal>
    <div ng-show="disBtn" class="text-center">
        <div class="loader"></div>
        <p>لطفا شکیبا باشید...</p>
    </div>
    <div class="reveal-content" ng-hide="disBtn">
        <h2>صورت‌حساب شماره {{ order.id }}</h2>
        <ul class="vertical menu">
            <li>قیمت محصول: <strong ng-bind="order.total_amount | currency : '' : 0"></strong> ریال</li>
            <li>مالیات: <strong ng-bind="order.tax | currency : '' : 0"></strong> ریال</li>
            <li>کارمزد: <strong ng-bind="order.processing_fee | currency : '' : 0"></strong> ریال</li>
        </ul>
        <p>مبلغ قابل پرداخت: <strong ng-bind="order.payable_amount | currency : '' : 0"></strong> ریال</p>
        <p><small>موافقت‌نامه <a href="/terms">استفاده از خدمات</a> و <a href="/terms">قوانین</a> را خوانده و پذیرفته‌ام.</small></p>
        <form method="post" action="https://sep.shaparak.ir/Payment.aspx">
            <input type="hidden" aria-label="amount" value="{{order.gateway.data.Amount}}" name="Amount">
            <input type="hidden" aria-label="mid" value="{{order.gateway.data.MID}}" name="MID">
            <input type="hidden" aria-label="redirect" value="{{order.gateway.data.RedirectURL}}" name="RedirectURL">
            <input type="hidden" aria-label="resnum" value="{{order.gateway.data.ResNum}}" name="ResNum">
            <div class="text-center">
                <input type="submit" class="alert button" ng-disabled="disBtn" value="پرداخت با کارت شتاب" >
            </div>
        </form>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
      